body {
  background-image: url("src/Clouds....jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  color: charcoal;
  padding: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 27px;
}

P {
  text-align: center;
  font-size: 12px;
  line-height: 1.5px;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}

strong {
  font-size: 40px;
}

small {
  position: relative;
  font-size: 25;
  top: -15px;
}

.weatherapp {
  max-width: 650px;
  margin: 35px auto;
  padding: 25px;
  border: 1px solid rgb(14, 201, 226);
  border-radius: 15px;
  height: 300px;
  background: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%);
}

.temperature {
  color: #212121;
  font-size: 10px;
  font-weight: 10;
  line-height: 1;
  margin-left: 10px;
  position: fixed;
}

.weather.temperature.active {
  cursor: default;
  text-decoration: none;
}

.weather.temperature.active:hover {
  text-decoration: none;
}
